<mat-toolbar color="primary">
    <div class="logo-container">
        <img src="/assets/logo.svg" alt="WeddingDressLogo" height="40" routerLink="/">
        <span class="logo-text">WeddingDress</span>
</div>
    <nav class="main-nav">
        <button mat-button="filled" routerLink="/marketplace" routerLinkActive="active">Marketplace</button>

        <button mat-button routerLink="/profile" [matMenuTriggerFor]="profileMenu" #menuTrigger="matMenuTrigger">Profile
        <mat-icon>arrow_drop_down</mat-icon>
        </button>
        
        
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="openLoginDialog()">Login</button>
            <button mat-menu-item (click)="openRegisterDialog()">Register</button>
            <button mat-menu-item *ngIf="profile" (click)="logout()">Logout</button>
        </mat-menu>
    </nav>
</mat-toolbar>