<div class="login-container">
    <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
    </button>
</form>

<p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>

</div>